* {
  box-sizing: border-box;
}

:root {
  --color-strong-cyan: hsl(171, 66%, 44%);
  --color-light-blue: hsl(233, 100%, 69%);
  --color-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-grayish-blue: hsl(201, 11%, 66%);
  --margin: 20px;
  --margin-top: 150px;
  --padding: 1em;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1,
h2,
h3 {
  color: var(--color-dark-grayish-blue);
}

p {
  color: var(--color-grayish-blue);
}

.logo {
  font-family: "Varela Round", sans-serif;
  font-size: 200px;
  color: var(--color-strong-cyan);
}

button {
    width: 300px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border:none;
    margin: var(--margin);
    background-color: var(--color-strong-cyan);
    color: white;
    font: inherit;
    padding: var(--padding, 1em);
    border-bottom: solid 5px hsl(171, 66%, 33%);
    box-shadow: 0 5px 20px var(--color-strong-cyan);
}

button.second {
    background-color: var(--color-light-blue);
    border-bottom-color: hsl(233, 100%, 50%);
    box-shadow: 0 5px 20px var(--color-light-blue);
}

article {
    padding: var(--padding);
}

.big-img {
    width: 300px;
}

header {
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
}

header > article {
    max-width: 700px;
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

article:first-child {
    max-width: 750px;
}

section {
    margin-top: var(--margin-top, 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3rd article {
    max-width: 420px;
}

.h3rd:not(.left) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.img-logos img {
    padding: 2em;
}

footer {
    background-color: #eee;
    padding: var(--padding);
    display: flex;
    flex-flow: column wrap;
    margin-top: var(--margin-top, 150px);
}

footer .logo {
    font-size: 70px;
}

footer a {
    text-decoration: none;
    color: var(--color-dark-grayish-blue);
    padding: var(--padding);
    height: 50px;
}

footer .social {
    padding: var(--padding);
}

@media screen and (max-width: 376px) {
  header {
    background-image: url("../images/bg-header-mobile.png");
  }
}

@media screen and (min-width: 1440px) {
    header {
        background-image: url("../images/bg-header-desktop.png");
        background-size: cover;
    }

    .big-img {
        width: auto;
    }

    .h3rd.left {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }

    .h3rd.left img {
        grid-row: span 3;
    }

    .h3rd.left article {
        text-align: left;
    }

    footer {
        height: 150px;
    }

    footer a {
        text-align: left;
    }
}
