* {
  box-sizing: border-box;
}

:root {
  --color-strong-cyan: hsl(171, 66%, 44%);
  --color-light-blue: hsl(233, 100%, 69%);
  --color-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-grayish-blue: hsl(201, 11%, 66%);
  --margin: 20px;
  --padding: 1em;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1,
h2,
h3 {
  color: var(--color-dark-grayish-blue);
  padding: var(--padding);
}

p {
  color: var(--color-grayish-blue);
  padding: var(--padding);
}

.logo {
  font-family: "Varela Round", sans-serif;
  font-size: 100px;
  color: var(--color-strong-cyan);
}

button {
    width: 250px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border:none;
    margin: var(--margin);
    background-color: var(--color-strong-cyan);
    color: white;
    font: inherit;
    padding: var(--padding);
    border-bottom: solid 5px hsl(171, 66%, 33%);
    box-shadow: 0 5px 20px var(--color-strong-cyan);
}

button ~ button {
    background-color: var(--color-light-blue);
    border-bottom-color: hsl(233, 100%, 50%);
    box-shadow: 0 5px 20px var(--color-light-blue);
}

.big-img {
    width: 300px;
}

header {
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
}

section {

}

article {
}

footer {
    background-color: #eee;
    padding: var(--padding);
    display: flex;
    flex-flow: column wrap;
}

footer a {
    text-decoration: none;
    color: var(--color-dark-grayish-blue);
    padding: var(--padding);
    height: 50px;
}

footer .social {
    padding: var(--padding);
}

@media screen and (max-width: 376px) {
  header {
    background-image: url("../images/bg-header-mobile.png");
  }
}

@media screen and (min-width: 1440px) {
    header {
        background-image: url("../images/bg-header-desktop.png");
        background-size: cover;
    }

    footer {
        height: 150px;
    }

    footer a {
        text-align: left;
    }
}
